fonts/
janusboandersen.aux
janusboandersen.log
janusboandersen.out
janusboandersen_CV.aux
janusboandersen_CV.log
janusboandersen_CV.out
janusboandersen_CV.pdf
janusboandersen_CV.synctex.gz
janusboandersen_DA.aux
janusboandersen_DA.log
janusboandersen_DA.out
janusboandersen_DA.synctex.gz
janusboandersen_EN.aux
janusboandersen_EN.log
janusboandersen_EN.out
janusboandersen_EN.synctex.gz
missfont.log
texput.log
